@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;400;700&display=swap");
nav {
  display: flex;
  width: 90vw;
  height: 10vh;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #131c27;
  color: white;
}

.nav__logo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex: 5;
  margin-left: 30px;
}

.nav__logo h1 {
  font-family: "Lobster", cursive;
  letter-spacing: 2px;
  font-size: 2rem;
}

.nav__list {
  display: flex;
  list-style-type: none;
  flex: 4;
  justify-content: space-evenly;
}

.nav__list a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 769px) {
  nav {
    width: 100vw;
    margin: 0;
    justify-content: space-evenly;
  }

  .nav__logo {
    align-content: center;
    flex: 1;
    margin-left: 5px;
  }

  .nav__logo h1 {
    font-size: 1rem;
  }

  .nav__list {
    flex: 3;
  }
}
